/* 
    Document   : header.html
    Created on : 21/Jun/2013, 2:24:45
    Author     : System Adminstrator
    Description: header.html.tpl  CSS file fragment
*/

root { 
    display: block;
}

/* HEADER DIV section */

#header
{
    width: 960px ; 
}


/* Logo DIV section */

#logo
{
    display: inline ;
    width: 960px ;
    min-height: 150px ;
    left: 10px ;
}

#logo img
{
    width: 200px ;
    height: 150px ;
}


/* Lang DIV section*/

#lang_menu
{
    display: inline ;
    width: 200px ;
    height: 30px ;
    left: auto ;
    right: 10px ;
    top: 10px ;
    bottom: auto ;
}


/* Social DIV section */

#social_menu
{
    display: inline ;
    width: 250px ;
    height: 50px ;
    left: auto ;
    right: 10px ;
    top: 60px ;
    bottom: auto ;
}


/* Nav DIV section */

#nav_menu
{
    display: inline ;
    width: auto ;
    height: 50px ;
    left: 250px ;
    right: auto ;
    top: auto ;
    bottom: 20px ;
}
