/* CSS Document */

body {
	background-color:#d14d00;
	text-align:center;
}

.tabela {
	width:940px;
	background-image:url(images/fundo_3.jpg); 
	background-repeat:repeat-y;
	text-align:center;
}

.tabela2 {
	width:940px;
	background-image:url(images/fundo_4.jpg); 
	background-repeat:repeat-y;
	text-align:center;
}

.texto {
	text-align:left; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#492000; 
	font-size:11px;
	vertical-align:top;
	width:600px;
}

.img {
	vertical-align:top;
	text-align:center;
	width:340px;
}

.footer {
	width:940px;
	text-align:center;
}

.header {
	width:940px;
	text-align:center;
}

.texto2 {
	text-align:left; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
}

.clientes { 
	text-align:left; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:bold;
	vertical-align:baseline;
}