/* 
    Document   : footer.html
    Created on : 20/Ago/2013, 3:30:51
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

