/* 
    Document   : body.html
    Created on : 18/Ago/2013, 18:42:02
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#body_1
{
    
}

#body_2
{
    
}

#body_3
{
    
}

#body_4
{
    
}

#body_5
{
    
}
