.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu{ padding:8px 0 0 0; margin-right:-16px;}
.sf-menu li {float:left; position:relative; font:bold 23px/30px 'Cabin', sans-serif; border-radius:20px; background:url(../images/bg-png.png) 0 0 repeat; text-transform:lowercase;}
	.sf-menu li a {display:block;color:#fff;padding:6px 31px 6px 30px; text-shadow:1px 1px 1px rgba(0,0,0,.2);}
			.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{ background:url(../images/menu.jpg) 0 50% repeat #dc4b19; }
			.sf-menu li:hover a{text-decoration:none;}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	min-width:			83px; 
	display:none;
	background: url(../images/submenu1.jpg) 0 0 repeat-x #546779;
	border-radius:20px;
	padding:17px 15px 14px 15px;
}
.sf-menu li li{padding:0; min-width:100%;font:bold 23px/26px 'Cabin', sans-serif; margin:0 0 1px 0; border-top:1px solid #a7b5be; border-radius:0;}
.sf-menu li li:first-child{ border-top:none;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{color:#fff; padding:3px 5px 5px 9px;}
		.sf-menu li li:hover,.sf-menu li li.sfHover,.sf-menu li li.current{background:none;}
		.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{color:#fe6920;}
.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	min-width:			89px; 
	display:none;
	background: url(../images/submenu2.jpg) 0 0 repeat-x #b6b890;
	border-radius:20px;
	margin-left:16px;
	padding:17px 15px 14px;
}
	.sf-menu li li li{padding:0; min-width:100%;font:bold 23px/26px 'Cabin', sans-serif; margin:0 0 1px 0; width:100%; border-top:1px solid #dadbc7;}
	.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#fff; padding:3px 5px 5px 9px;}
		.sf-menu li li li a:hover,.sf-menu li li li.current a{color:#fe6920;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			50px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			-16px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			00px;
}