/* 
    Document   : display_12_html
    Created on : 5/Ago/2013, 13:02:16
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

