/* 
    Document   : main_page.html.css
    Created on : 30/Jul/2013, 12:51:36
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

