/* 
    Document   : display_3_html
    Created on : 5/Ago/2013, 13:09:00
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

