/* 
    Document   : display_21_html
    Created on : 5/Ago/2013, 12:43:37
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

