/* 
    Document   : display_111_html
    Created on : 5/Ago/2013, 13:00:56
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root
{ 
    display: block;
}
