/* 
    Document   : display_html
    Created on : 5/Ago/2013, 1:36:45
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

