/* 
    Document   : logo.html
    Created on : 1/Ago/2013, 5:43:58
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#logo
{
    width: 300px ;
    height: 90px ;
    margin: 0px ;
    border: #000000 none 0 ;
    padding: 0px ;
    text-decoration: none ;
}

#logo>img
{
    width:290px ;
    height: 80px ;
    
    padding-left: 5px ;
    padding-right: 5px ;
    padding-top: auto ;
    padding-bottom: auto ;
    
    border: #000000 none 0 ;
}