<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html>
    <head>
        <title></title>

        <link rel="stylesheet" type="text/css" href="/App_code/css/main_css.php/index-2">

{literal}
        <script type="text/javascript" lang="PT" language="javascript">
            <!-- -->
        </script>
{/literal}

    </head>
    
    <body class="bodyContainer">

        <span id="bodyContainer1" class="bodyContainerClassSeparator1a bodyContainerClassSeparator3a">{$top_left}</span>
        <span id="bodyContainer2" class="bodyContainerClassSeparator1b bodyContainerClassSeparator2a bodyContainerClassSeparator3a">{$top_middle}</span>
        <span id="bodyContainer3" class="bodyContainerClassSeparator2b bodyContainerClassSeparator3a">{$top_right}</span>

        <div id="bodyContainer4"  class="bodyContainerClassSeparator3b bodyContainerClassSeparator4a">{$main_body}</div>

        <span id="bodyContainer5" class="bodyContainerClassSeparator4b bodyContainerClassSeparator5a">{$bottom_left}</span>
        <span id="bodyContainer6" class="bodyContainerClassSeparator4b bodyContainerClassSeparator5b bodyContainerClassSeparator6a">{$bottom_middle}</span>
        <span id="bodyContainer7" class="bodyContainerClassSeparator4b bodyContainerClassSeparator6b">{$bottom_right}</span>

    </body>

</html>