/* 
    Document   : body.html
    Created on : 18/Ago/2013, 18:42:02
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#body_1_container
{
    
}

#body_2_container
{
    
}

#body_3_container
{
    
}

#body_4_container
{
    
}

#body_5_container
{
    
}
