/* 
    Document   : logo.html
    Created on : 1/Ago/2013, 5:43:58
    Author     : System Adminstrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#banner
{
    width: 468px ;
    height: 60px ;

    margin-left: 10px ;
    margin-right: 10px ;
    margin-top: auto ;
    margin-bottom: auto ;

    border: 0 0 0 ;
}
