<!DOCTYPE html>
<html lang="en">
<head>
    <title>37099 template preview</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.6.4.min.js"></script>
    <script src="js/cufon-yui.js"></script>
    <script src="js/Lane_-_Narrow_400.font.js"></script>
    <script src="js/cufon-replace.js"></script>
    <script src="js/script.js"></script>
	<!--[if lt IE 7]>
  		<div class='aligncenter'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg"border="0"></a></div>  
 	<![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5.js"></script>
  		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body id="main-page">
<!--==============================header=================================-->
<header>
<div class="header-bg">
	<div class="main2">
		<ul class="sf-menu fright">
			<li class="current"><a href="index.html">main</a><ul>
					<li><a href="more.html">staff</a></li>
					<li><a href="more.html">profile</a></li>
					<li><a href="more.html">news</a><ul>
							<li><a href="more.html">fresh</a></li>
							<li><a href="more.html">archive</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="index-1.html">about us</a></li>
			<li><a href="index-2.html">services</a></li>
			<li><a href="index-3.html">fresh links</a></li>
			<li><a href="index-4.html">contacts</a></li>
		</ul>
		<h1 class="fleft"><a href="index.html">strivex</a></h1>
		<div class="clear"></div>
	</div>
</div>
</header>
<div class="bgslider">
	<div id="coin-slider">
		<img src="images/slide1.jpg" alt="">
		<div class="banner">
			<div class="text1"><span class="color1">Our</span>Partners</div>
			<div class="text2">We are proud to unite<br>only best teams with the <br>aim of self-perfection.</div>
		</div>
		<img src="images/slide2.jpg" alt="">
		<div class="banner">
			<div class="text1"><span class="color1">24/7</span>Support</div>
			<div class="text2">our company has many <br>devoted clients all over<br>the world.</div>
		</div>
		<img src="images/slide3.jpg" alt="">
		<div class="banner">
			<div class="text1"><span class="color1">New</span>Ideas</div>
			<div class="text2">We know how to implement <br>the innovations into the <br>industry process.</div>
		</div>
		<img src="images/slide4.jpg" alt="">
		<div class="banner">
			<div class="text1"><span class="color1">Hot</span>Solutions</div>
			<div class="text2">Our enterprise is giving <br>you many different <br>advantages.</div>
		</div>
	</div>
</div>
<!--==============================content================================-->
<div class="bgcontent">
	<div class="container_24">
		<div id="main">
			<section id="content">
				<div class="text-1 borderdotted"><span class="color1">Our enterprise</span> is giving you many different advantages. You can <br><span class="ind">get real reliability, performance, and <span class="color2">effective results</span>. We are giving</span><span class="ind2">answers to all questions concerning any kind of business.</span></div>
				<div class="wrapper">
					<div class="grid_7 alpha prefix_1 padtop">
						<div class="wrapper padbot2">
							<div class="dropcap2"><img src="images/dropcap1.png" alt=""></div>
							<div class="extra-wrap">
								<h3 class="pad">Creative Ideas</h3>
								<p class="padbot">Moleie laceneanrit musrtasu eduscasunc odioseas gravdaus nelu ctus alorem aecenas tristique orci da nec sit amet er orem ipsum.</p>
								<a href="more.html" class="button">Read More</a>
							</div>
						</div>
						<div class="wrapper">
							<div class="dropcap2"><img src="images/dropcap3.png" alt=""></div>
							<div class="extra-wrap">
								<h3 class="pad">Our Development</h3>
								<p class="padbot">Moleie laceneanrit musrtasu eduscasunc odioseas gravdaus nelu ctus alorem aecenas tristique orci da nec sit amet er orem ipsum.</p>
								<a href="more.html" class="button">Read More</a>
							</div>
						</div>
					</div>
					<div class="grid_7 prefix_1 padtop">
						<div class="wrapper padbot2">
							<div class="dropcap2"><img src="images/dropcap2.png" alt=""></div>
							<div class="extra-wrap">
								<h3 class="pad">Best Solutions</h3>
								<p class="padbot">Moleie laceneanrit musrtasu eduscasunc odioseas gravdaus nelu ctus alorem aecenas tristique orci da nec sit amet er orem ipsum.</p>
								<a href="more.html" class="button">Read More</a>
							</div>
						</div>
						<div class="wrapper">
							<div class="dropcap2"><img src="images/dropcap4.png" alt=""></div>
							<div class="extra-wrap">
								<h3 class="pad">Management</h3>
								<ul class="list-1">
									<li><a href="more.html">dolosit derasen loasera</a></li>
									<li><a href="more.html">maslema serta dease ertaserad</a></li>
									<li><a href="more.html">tasewn delertse amiasers</a></li>
									<li><a href="more.html">anera miases rosera</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="grid_6 omega suffix_1 prefix_1">
						<ul class="list-2">
							<li><a href="more.html">Basic Program</a></li>
							<li><a href="more.html">new Services</a></li>
							<li><a href="more.html">Credit Protection</a></li>
							<li><a href="more.html">Investment Info</a></li>
							<li><a href="more.html">development</a></li>
							<li><a href="more.html">progressive pR</a></li>
						</ul>
					</div>
				</div>
	</section>
			<aside>
				<div class="wrapper">
					<div class="prefix_1 grid_4 alpha">
						<h2 class="borderbottom">Categories</h2>
						<ul class="list-3">
							<li><a href="more.html">Testimonials</a></li>
							<li><a href="more.html">Articles</a></li>
							<li><a href="more.html">Online Consultations</a></li>
							<li><a href="more.html">Business Blog</a></li>
							<li><a href="more.html">Videos</a></li>
							<li><a href="more.html">FAQs</a></li>
						</ul>
					</div>
					<div class="prefix_1 grid_4">
						<h2 class="borderbottom">Links</h2>
						<ul class="list-3">
							<li><a href="more.html">1.Business planning</a></li>
							<li><a href="more.html">2.Strategy</a></li>
							<li><a href="more.html">3.Investment banking</a></li>
							<li><a href="more.html">4.Tax services</a></li>
						</ul>
					</div>
					<div class="prefix_1 grid_4">
						<h2 class="borderbottom">Archive</h2>
						<ul class="list-3">
							<li><a href="more.html">February 2010</a></li>
							<li><a href="more.html">January 2010</a></li>
							<li><a href="more.html">December 2009</a></li>
							<li><a href="more.html">September 2009</a></li>
							<li><a href="more.html">July 2009</a></li>
						</ul>
					</div>
					<div class="prefix_1 grid_7 omega">
						<h2 class="borderbottom indent2">Quick Form</h2>
						<form id="contact-form">
							<div class="success"> Contact form submitted! <br><strong>We will be in touch soon.</strong></div>
							<fieldset>
								<label class="email">
									<input type="text" value="Your E-Mail">
									<span class="error">*This is not a valid email address.</span>
									<span class="empty">*This field is required.</span>
									<span class="clear"></span>
								</label>
								<label class="message">
									<textarea>Message</textarea>
									<span class="error">*The message is too short.</span>
									<span class="empty">*This field is required.</span>
									<span class="clear"></span>
								</label>
								<div class="buttons"><span><a class="button" data-type="reset">Clear</a></span><span><a class="button" data-type="submit">Send</a></span></div>
							</fieldset>
						</form>
					</div>
				</div>
			</aside>
			<!--==============================footer=================================-->
			<footer>
				<div class="grid_22 prefix_1 alpha omega suffix_1">
				<div class="copyright2">Strivex &copy; 2012 <span>|</span> <a href="index-5.html">Privacy policy</a> <!-- {%FOOTER_LINK} --></div>
				</div>
			</footer>
		</div>
	</div>
</div>
<div id="advanced"></div>
<!--script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script-->
</body>
</html>